{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user and g.user['is_admin']%}
    <a class="action" href="{{ url_for('eventi.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for evento in eventi %}
    <article class="evento">
      <header>
        <div>
          <h1>{{ evento['title'] }}  {{ evento['event_date'].strftime('%d-%m-%Y') }}</h1>
          <div class="about">by {{ evento['username'] }} on {{ evento['created'].strftime('%d-%m-%Y') }}</div>
        </div>
        {% if g.user and g.user['id'] == evento['author_id'] %}
          <a class="action" href="{{ url_for('eventi.update', id=evento['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ evento['body'] }}</p>
      
      {% if evento['biglietti_prenotati']>0 %}
        <a class="action" href="{{ url_for('eventi.remove_ticket', id=evento['id']) }}">-</a>
      {% endif %}
      <p class="body">{{ evento['biglietti_prenotati'] }}</p>
      <a class="action" href="{{ url_for('eventi.add_ticket', id=evento['id']) }}">+</a>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}